.howto {
  background: url("../img/howto-bg.jpg") top center/cover no-repeat;
  &__center-box {
    padding-top: 40px;
  }

  &__list {
    display: none;
  }

  &__title {
    margin-bottom: 90px;
  }

  &__img-box {
    text-align: center;
  }

  &__img circle {
    transition: all 0.4s;
  }

  &__img text {
    transition: all 0.4s;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

  &__img foreignObject p {
    transition: all 0.4s;
    text-align: left;
  }

  &__img {
    g:hover {
      circle {
        r: 20;
        fill: #036cca;
      }
      text {
        font-size: 24px;
        line-height: 24px;
        fill: #036cca;
      }
    }
  }

  &__img {
    g:hover {
      circle {
        r: 20;
        fill: #036cca;
      }
      foreignObject p {
        font-size: 24px;
        line-height: 24px;
        color: #036cca;
      }
    }
  }
}

@media (max-width: 890px) {
  .howto__img-box {
    display: none;
  }

  .howto__title {
    margin-bottom: 50px;
  }

  .howto {
    &__list {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0 20px 10px;
    }
    &__item {
      position: relative;
      border-left: 2px solid #ffffff;
      padding-top: 0px;
      padding-left: 20px;
      padding-bottom: 30px;
      &:last-child {
        border-left: none;
      }
    }
    &__item::before {
      display: block;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border-radius: 50%;
      left: -10px;
    }
  }
}
