.main-btn {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 16.5px 15px;
}
