.main-navigation {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    list-style: none;
    outline: 1px solid red;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__item {
    margin: 0 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}
