.main-header {
  background: url("../img/header-bg.jpg") center center/cover no-repeat;
  &__center-box {
    min-height: 100vh;
    padding-top: 70px;
  }
  &__menu {
    display: flex;
    align-items: baseline;
    margin-bottom: 25%;
  }
  &__main-navigation {
    flex: 0 3 815px;
  }
  &__call {
    flex: 0 1 380px;
  }
  &__tel {
    font-size: 24px;
    line-height: 29px;
    margin-right: 20px;
  }
  &__btn {
    position: relative;
    top: 10px;
    cursor: pointer;
  }

  &__promo {
    max-width: 600px;
    margin-bottom: 9%;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-family: "spaceagecyrillic", sans-serif;
    font-size: 60px;
    line-height: 60px;
    span {
      display: block;
      font-size: 108px;
      line-height: 110px;
      margin-top: -20px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
  }
  &__text-item {
    margin: 0;
    padding: 0;
  }

  &__info {
    display: flex;
    justify-content: end;
  }
  &__info-item {
    max-width: 180px;
    margin: 0 15px;
  }
}
