.main-navigation {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    list-style: none;
    outline: 1px solid red;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__item {
    transition: all 0.4s;
    margin: 0 15px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: #cb0e0e;
    }
  }

  &__burger-btn {
    display: none;
    position: fixed;
    top: 45px;
    left: 25px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  &__burger-btn:hover .main-navigation__burger-lines {
    filter: brightness(0.7);
  }

  &__burger-lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #3b1ebb;
    transition: 0.4s;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__burger-lines::after {
    content: "";
    top: 12px;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #3b1ebb;
    transition: 0.4s;
  }
  &__burger-lines::before {
    content: "";
    top: -12px;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #3b1ebb;
    transition: 0.4s;
  }

  &__burger-btn--active {
    & .main-navigation__burger-lines {
      background: transparent;
    }
    & .main-navigation__burger-lines::after {
      top: 0;
      transform: rotate(45deg);
    }
    & .main-navigation__burger-lines::before {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: 1000px) {
  .main-navigation__burger-btn {
    display: block;
  }

  .main-navigation {
    &__list {
      max-width: 280px;
      position: fixed;
      flex-direction: column;
      top: 0;
      left: -280px;
      padding-top: 130px;
      background-color: #3b1ebb;
      transition: all 0.4s;
    }
    &__item {
      margin: 15px 30px;
      &:first-child {
        margin-left: 30px;
      }
    }
  }

  .main-navigation.main-navigation--desc-active {
    .main-navigation__list {
      left: 0;
    }
  }
}
