.title {
  font-family: "spaceagecyrillic", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media (max-width: 620px) {
  .title {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (max-width: 365px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }
}
