html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #2c2b2b; }

.center-box {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid orange; }
